body{
  overflow-y: hidden;

}


.subtitle {
  position: fixed;
  width: 228px;
  height: 28px;
  left: 107px;
  top: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  font-family: "Source Sans Pro", sans-serif;
  color: #3a3a3a;
}
.Title {
  width: 370px;
  height: 113px;
  margin-left: 100px;  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 112px;

  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
}
.MainBody {
  scroll-behavior: smooth;
  background-color: black;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  height: 100vh;
  font-family: "Source Sans Pro", sans-serif;

  align-items: center;
  justify-content: center;
  display: flex;

  
  min-width: 1920px;
  min-height: 1080px;
  max-width: 1920px;
  max-height: 1080px;
}
.Video {
  position: relative;
  width: 1800px;
  height: 730px;
  padding-bottom: 200px;
}
.rectangle {
  position: relative;
  width: 300px;
  height: 70px;
  left: 807px;
  top: 0px;
  backdrop-filter: blur(30px);
  border-radius: 54px;
}
.Row {
  align-items: center;
  text-align: center;
  flex-flow: row wrap;
}
.iconify {
  padding-top: 15px;

  padding-left: 10px;

  padding-right: 10px;
  align-items: center;
}
.ScrollVideo{
  position: relative;
  top: 1160px;
}

.topnav {
  overflow: hidden;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  backdrop-filter: blur(30px);
  border-bottom: 1px solid #181818;
  border: none; 
  height: 70px;

}

.title1 {
  color: rgb(255, 255, 255);
  font-weight: 100;
  position: absolute;
  top: -4px;
}
.title2 {
    color: #A59595;
    font-weight: 100;

}
