.navbar {
  display: inline-block;
  align-self: center;
  font-family: "Source Sans Pro", sans-serif;
}
.MainBody {
  background-color: black;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  height: 100vh;

  min-width: 1920px;
  min-height: 1080px;
  max-width: 1920px;
  max-height: 1080px;
  
  font-family: "Source Sans Pro", sans-serif;
}
/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: r ight;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  color: white;
  font-weight: bold;
  opacity: 1;
}

.navigationbartop {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  backdrop-filter: blur(30px);
  border-bottom: 1px solid #181818;
}
.logo {
  color: #fff;
  width: 10%;
  float: left;
  margin-top: 15px;
  margin-left: 25px;
  letter-spacing: 4px;
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
}

.squares {
  object-fit: cover;
  min-width: 90%;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  height: 25vh;
  position: relative;
  background-image: url("https://images.wallpapersden.com/image/download/fluid-magma-abstract_67346_3840x2160.jpg");
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 20px;
}

.Screen {
  align-items: center;
}
.buttons {
    background-color: black;
    opacity: 0.7;  
  border: none;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
  backdrop-filter: blur(30px);
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;

}
.buttons:hover {
  background-color: rgb(31, 30, 30);
  transform: scale(1.1) perspective(1px);


}
.Grid {
    margin-top: 80px;
    margin-left: 30px;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }


input {
  height: 50px;
  width: 800px;
  font-size: 25px;
  border-radius: 5px;
}

h1 {
  color: white;
  margin-left: 190px;
}

p{
  margin-left: 190px;
}

.upload {
  margin-top: 50px;
  width: 200px;
  height: 50px;
  border: none;
  background-color: #31313179;
  color: white;
  backdrop-filter: blur(10px);
  border-radius: 4px;
  transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;



}

.upload:hover {
  cursor: pointer;
  background-color: #49bfff;
  transform: scale(1.1) perspective(1px);




}

iframe {
  height: 300px;
  width: 350px;
  margin-left: 170px;
  border: none;
}

